@model IEnumerable<Proyecto_VentadeVehiculos.Models.Comprador>

@{
    ViewData["Title"] = "Index";
}

<h1>Compradores</h1>

<p>
    <a asp-action="Create">Crear uno nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.correo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fechanacimiento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechanacimiento)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdComprador">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdComprador">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.IdComprador">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
